<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LD高仿动态登录页.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0443B3E1D80F993007D9ACA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0443B571D80F993007D9ACA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0443B621D80F993007D9ACA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
